{% extends "main/base.html" %}

{% block title %}
Страница про нас
{% endblock %}

{% block content %}
    <h1>О сайте</h1>
    <p> Этот сайт создан с целью тренировки навыков разработки веб-приложений на django. Здесь представлена реализация сайта для изучения испанского языка. </p>
    <p> В шапке сайта вы можете найти ссылку на страницу "Словарь", где содержится список слов для заучивания. Для добавления новых слов в словарь нажмите "Добавить слово". Информация об уроках представлена на странице "Уроки", там же там можно найти рекомендации для самостоятельной работы дома. Онлайн консультации с преподавателем будут проводиться раз в две недели, как правило по субботам в 16:00, информация будет размещена на странице "Новости".</p>
    <br>
    <h4>Благодарности</h4>
    <p>Выражаем большую благодарность цифровой кафедре МФТИ за интересный и полезный опыт в создании веб-приложений. Также благодарим онлайн-школу "itProger" за классный видео-курс по разработке приложений на django. </p>
    <br>
    <h4>Ссылки</h4>
    <p><a href="https://docs.djangoproject.com/en/4.2/"> <u>https://docs.djangoproject.com/en/4.2/</u></a></p>
    <p><a href="https://getbootstrap.com/docs/5.3/examples/"> <u>https://getbootstrap.com/docs/5.3/examples/</u></a></p>
    <p><a href="https://www.flaticon.com"><u>https://www.flaticon.com</u></a></p>

{% endblock %}
