{% extends "main/base.html" %}

{% block title %}
Уроки
{% endblock %}
{% load static %}
{% block content %}
    <h1>Уроки</h1>
    <p><font size="5" color="#FFA500">Все материалы уроков вы можете найти в папке на Яндекс.диске <a href="https://disk.yandex.ru/d/N713E2zYNI3XFA"><img src="{% static 'main/images/folder-2.png' %}" width="32" height="32"/></a></font></p>
    {% if lessons %}
        {% for el in lessons %}
            <div>
                <p class="h5 u"><u>{{el.name}}</u></p>
                <p>{{el.date}}</p>
                <p>{{el.lesson}}</p>
                <h6><em>Сложность: {{el.rang}}/5</em> </h6>
            </div>
        {% endfor %}
    {% else %}
        <p>На данный момент информации о прошедших уроках пока нет. У нас всё вререди!</p>
    {% endif %}
{% endblock %}